html, body {
	height: 100%;
}

body {
  background: linear-gradient(0deg, green, blue);
  background-attachment: fixed;s
}

b {
	color: yellow;
	font-size:  23px;
}

p {
	color: yellow;
	font-size: 23px;
}

img {
	border: 16px solid green;
}


a {
	color: yellow;
  font-size: 23px;
}

